/CSharp1/.vs/CSharp1/v16/.suo
/CSharp1/bin/Debug/CSharp1.exe
/CSharp1/bin/Debug/CSharp1.exe.config
/CSharp1/bin/Debug/CSharp1.pdb
/CSharp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CSharp1/obj/Debug/CSharp1.csproj.CoreCompileInputs.cache
/CSharp1/obj/Debug/CSharp1.csproj.FileListAbsolute.txt
/CSharp1/obj/Debug/CSharp1.csprojAssemblyReference.cache
/CSharp1/obj/Debug/CSharp1.exe
/CSharp1/obj/Debug/CSharp1.pdb
/CSharp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CSharp1/.vs/CSharp1/v16/Server/sqlite3/db.lock
/CSharp1/.vs/CSharp1/v16/Server/sqlite3/storage.ide
/CSharp1/.vs/CSharp1/v16/Server/sqlite3/storage.ide-shm
/CSharp1/.vs/CSharp1/v16/Server/sqlite3/storage.ide-wal
