/CSharp1/.vs/CSharp1/v16/.suo
/CSharp1/bin/Debug/CSharp1.exe
/CSharp1/bin/Debug/CSharp1.exe.config
/CSharp1/bin/Debug/CSharp1.pdb
/CSharp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CSharp1/obj/Debug/CSharp1.csproj.CoreCompileInputs.cache
/CSharp1/obj/Debug/CSharp1.csproj.FileListAbsolute.txt
/CSharp1/obj/Debug/CSharp1.csprojAssemblyReference.cache
/CSharp1/obj/Debug/CSharp1.exe
/CSharp1/obj/Debug/CSharp1.pdb
/CSharp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CSharp1/.vs/CSharp1/v16/Server/sqlite3/db.lock
/CSharp1/.vs/CSharp1/v16/Server/sqlite3/storage.ide
/CSharp1/.vs/CSharp1/v16/Server/sqlite3/storage.ide-shm
/CSharp1/.vs/CSharp1/v16/Server/sqlite3/storage.ide-wal
/Calculator/bin/Debug/Calculator.exe
/Calculator/bin/Debug/Calculator.exe.config
/Calculator/bin/Debug/Calculator.pdb
/Calculator/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Calculator/obj/Debug/Calculator.csproj.CoreCompileInputs.cache
/Calculator/obj/Debug/Calculator.csproj.FileListAbsolute.txt
/Calculator/obj/Debug/Calculator.csproj.GenerateResource.cache
/Calculator/obj/Debug/Calculator.csprojAssemblyReference.cache
/Calculator/obj/Debug/Calculator.exe
/Calculator/obj/Debug/Calculator.Form1.resources
/Calculator/obj/Debug/Calculator.pdb
/Calculator/obj/Debug/Calculator.Properties.Resources.resources
/Calculator/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Calculator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
